body{
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;

}

main, header, footer{
    box-shadow: 1px 1px 10px 1px gray;
 }

header, footer{
    width: 60%;
    height: 20%;
    border-bottom: 1px solid #000;
    background-color: green;
    position: absolute;
    justify-content: space-around;
    align-self: center;
}

header{
    height: auto;
    top: 0;
    display: flex;
    flex-direction: column;
}

footer{
    border-bottom: 0;
    height: 40px;
    border-top: 2px solid gray;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 11;
}

img {
    display:  flex;
    height: 150px;
    width: 150px;
}

#main{
    width: 60%;
    height: auto;
    margin-bottom: 1s%;
    position: static;
    display: flex;
    z-index: 10;
    align-self: center;
    flex-direction: column;
    margin-top: 230px;
    box-sizing: border-box;
}

#logo{
    padding: 10px;
    width: auto;
    height: 170px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    position: static;
    align-content: center;
    box-shadow: 5px 5px 5px 5px black;
}

#links{
    width: 100%;
    height: 20%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-family: arial, cursive;
}

#menu{
    color: #fff;
    text-decoration: none;
}

#menu:hover{
    text-decoration: underline;
}
    
#texto{
    font-weight: bold;
    font-family: arial, cursive;
    padding: 2px;
    border-bottom: 1px solid gray;
}

#txt-inicio{
    font-weight: normal;
    font-family: arial, cursive;
}

#texto-bold{
    font-weight: bold;
    font-family: arial, cursive;
}

#equipe{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#parte{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
    
#parte:hover{
    text-decoration: underline;
}
    
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
    
@media screen and (max-width: 700px){
    #equipe{
        flex-direction: column;
        }
        
    #links{
        flex-direction: column;
    }
        
}
    
    @media screen and (max-width: 640px){
        #main{
            margin-top: 0%;
        }
        
        #logo{
            display: none;
        }
}